<p class = 'pull-right' >
	[<%= link_to 'Edit this post', edit_post_path(@posts) %>]
</p>

<p>
	<%= render @posts.categories %>
</p>
	
<%= render 'shared/content_title', title: @posts.title %>

<p><%= @posts.description %></p>
